<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="title" content="Credit App - Email Verification">
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
</head>
<body>
        <div class="form-container">
            <div class="link-container">
                <img src="{{ url_for('static', path='/svg/logo.svg') }}" width="100" height="100" />
            </div>
            <div>
                <p class="form-title">Reset your password</p>
            </div>
            <form id="reset-form" action="/api/v1/auth/password-reset-confirm/{{ token }}">
                <div class="input-container">
                    <input type="password" name="password" id="password" placeholder="New Password" minlength="8" maxlength="20" required />
                </div>
                <div class="input-container">
                    <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" minlength="8" maxlength="20" required/>
                </div>
                <div class="input-container">
                    <button type="submit" id="submit-btn" class="submit-btn">Reset Password</button>
                </div>
            </form>
        </div>
    <script src="{{ url_for('static', path='/js/main.js') }}"></script>
</body>
</html>